<head>
    <script src="{{url_for('static', path='/scripts/site.js')}}"></script>
</head>

{% extends "base.html" %}
{% block title %}View Flash Cards{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<body>
    <h1>Trivia</h1>

    <form action="/card/add" method="post">
        <div id="qna">
            <input type="text" name="question" placeholder="Question...">
            <input type="text" name="answer" placeholder="Answer...">
        </div>
        <label>Set: </label><select name="set_id">
            <option name="" value=""></option>
            {% for set in sets %}     
                {% if set.id == set_id %}                   
                    <option selected="selected" name="{{set.name}}" value="{{set.id}}" >{{set.name}}</option>
                {% else %}
                    <option name="{{set.name}}" value="{{set.id}}">{{set.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>

{% endblock %}