<head>
    {% extends "base.html" %}
    {% block title %}Random Flashcard{% endblock %}
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
    <section class="content">
        {% block content %}
        <h1>Sets</h1>
        <div id="sets">
            {{cards}}
            {% for set in sets %}
                <a href="{{url_for('getSetByID', set_id=set.id)}}" class="set"><strong>{{set.name}}</strong></a>
                <br><br>
            {% endfor %}
            {% endblock %}
        </div>
    </section>
</body>