<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', path='/scripts/site.js') }}"></script>
        <title>{% block title %}{% endblock %} - Flashcard App</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{url_for('root')}}">Home</a>
                <a href="{{url_for('getPlayWithFriends')}}">Play With Friends</a>
                <a href="{{url_for('getSets')}}">Sets</a>
                <a href="{{url_for('getUsers')}}">Users</a>
            </nav>
        </header>
        <section class="content">{% block content %}{% endblock %}</section>
        <footer>
            <p>Jonathan Doud | COS 243 Fall 2025</p>
            <a href="https://github.com/JD0ud/JDoudCOS243Flashcard" target="_blank">GitHub Repository</a>
        </footer>
    </body>
</html>