<head>
    <script src="{{url_for('static', path='/scripts/site.js')}}"></script>
</head>

{% extends "base.html" %}
{% block title %}View Flash Cards{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<body>
    <h1 id="mainpageH1">FLASHCARDS</h1>
    <h2 id="mainpageH2">Test your knowledge on personalized sets of trivia questions!</h2>

    <div id="pwf">
        <p>Try our new multiplayer flashcard game!</p>
        <a href="{{url_for('getPlayWithFriends')}}"><strong>Play With Friends</strong></a>
    </div>
</body>

{% endblock %}