{% extends "base.html" %}
{% block title %}View Set{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>Sets</h1>
<h2 id="setName"><strong>{{set.name}}</strong></h2>
    <div id="cards">
        {% import "macros/card_macro.html" as card_macro %}
        {% for card in set.cards %}
            <div class="card">
            {{ card_macro.card(card) }}
            <a href="{{url_for('edit_card', card_id=card.id)}}">Edit</a>
            </div>
        {% endfor %}
    </div>
    <a href="{{url_for('getAddCard')}}" class="button">+ Add Card</a>
    <a href="{{url_for('getAddSet')}}" class="button">+ Add Set</a>

{% endblock %}